<h1 style="text-align: center;">A/a</h1>
<p>&nbsp;</p>
<script src="./underscore.js"/>
<script>
	var number_of_columns = 4;
	var items = [
		{title: "Apple", image: "http://maxpixel.freegreatpicture.com/static/photo/1x/Red-Apple-Fruit-Vitamins-Healthy-158419.png"}
	];
</script>
<table style="height: 633px; margin-left: auto; margin-right: auto;" width="684">
	<tbody>
		<script type="text/javascript">
			<% _.each(_.range(items.length), function(index) { %>
				index
			<% }) %>
		</script>
		<tr style="height: 12.2px;">
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3 id="">Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
		</tr>
		<tr style="height: 114px;">
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
		</tr>
		<tr style="height: 114px;">
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
		</tr>
		<tr style="height: 114px;">
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
			<td style="width: 164px; height: 12.2px; text-align: center;">
				<h3>Apple</h3>
				<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/apple-158419_960_720.png" alt="" width="108" height="150" />
			</td>
		</tr>
	</tbody>
</table>
